<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>예시</h1>
<span th:text="${data}">html data</span>

<h1>1. 표준 HTML 주석</h1>
<!--
<span th:text="${data}">html data</span>
-->

<h1>2. 타임리프 파서 주석</h1>
<!--/* [[${data}]] */-->

<!--/*-->
타임 리프 랜더링 시에는 사라지는 위와 같은 결과이지만 여러 줄 표현
<span th:text="${data}">html data</span>
<!--*/-->

<h1>3. 타임리프 프로토타입 주석</h1>
<!--/*/
파일 열었을 때엔 주석처리 되지만, 타임리프 랜더링 시에는 주석처리 되지 않음
<span th:text="${data}">html data</span>
/*/-->

</body>
</html>